{% extends 'base.html.twig' %}

{% block body %}
    <p>ABOUT </p>
    <p><a href="{{path("homepage")}}">Accueil</a></p>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block title %}

    About

{% endblock %}
